@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

/* Variables css */
:root {
/* Colors */
--color-darkText: #3b4363;
--color-scoreText: #2a46c0;
--color-headerOutline: #606e85;
--color-number: #565468;
  
/* Font weight */
--fw-simiBold: 600;
--fw-bold: 700;
}

/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Better for people who browse with keyboard and know where they are on the site,I set a different style, making it more visible, taking it from the default.
*/
*:focus,
*:focus-visible {
  outline: var(--color-darkText) dotted 4px;
  outline-offset: 4px;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

button,
[type="button"] {
  appearance: button;
  text-transform: none;
  overflow: visible;
  text-align: initial;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Oswald', sans-serif;
  background: #0f0005;
  line-height: 1.5;
  position: relative;
  transition: background 0.4s linear;
  display: flex;
  flex-direction: column;
}

body.dark-mode {
  background: #F8927F;
}

.game__header-box {
  max-width: 46.25rem;
  padding: 0 2rem;
  margin: 0 auto;
}
  
.game__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  
  border: 0.188rem solid rgba(255, 255, 255, 0.29);
  border-radius: 0.938rem;
  padding: 1.125rem 1.5rem 1.125rem 2.063rem;
}
  
.game__score-box {
  text-align: center;
  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
  border-radius: 0.5rem;
  box-shadow: 0 0.188rem 0.188rem rgba(0, 0, 0, 0.196706);
  padding: 1rem 3rem;
}
  
.game__score {
  font-size: 1rem;
  line-height: 1.19;
  letter-spacing: 0.156rem;
  font-weight: var(--fw-simiBold);
  color: var(--color-scoreText);
}

.game__number {
  font-size: 4rem;
  line-height: 1;
  color: var(--color-number);
}

.game__darkMode {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #fff;
}

.game__darkMode:hover {
  animation: spin 4s forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.game__darkMode.active {
  color: #000;
}

  /* Number of tries container */

.try-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.try-container p {
  color: white;
  font-size: 2rem;
}

/* Game */
.game__initial {
  max-width: 46.25rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  /* display: none; */
}

.game__initial-box {
  background: url(rockpaperscissors\images\bg-pentagon.svg) no-repeat top 75px center;
  width: 29.5rem;
  height: 28.938rem;
  display: grid;
}

.game__selection-box {
  grid-area: 1/-1;
  border: none;
  background: none;
  max-width: max-content;
  height: max-content;
}

.game__selection-box:nth-child(1) {
  grid-area: 1 / -1;
  justify-self: center;
}

.game__selection-box:nth-child(2) {
  grid-area: 1 / -1;
  justify-self: start;
  align-self: center;
  transform: translateY(-2.188rem);
}

.game__selection-box:nth-child(3) {
  grid-area: 1 / -1;
  justify-self: end;
  align-self: center;
  transform: translateY(-2.188rem);
}

.game__selection-box:nth-child(4) {
  grid-area: 1 / -1;
  justify-self: start;
  align-self: end;
  transform: translateX(4.063rem);
}

.game__selection-box:nth-child(5) {
  grid-area: 1 / -1;
  justify-self: end;
  align-self: end;
  transform: translateX(-4.063rem);
}

.game__selection {
  width: 9.063rem;
  height: 9.25rem;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.game__selection::after {
  content: "";
  width: 9.063rem;
  height: 8.813rem;
  border-radius: 100%;
  background: #4664f4;
  position: absolute;
  top: 0;
}

.game__selection:hover::before {
  content: "";
  width: 182px;
  height: 188px;
  border-radius: 100%;
  opacity: 0.05;
  background: #fff;
  position: absolute;
}

.game__selection.dark-mode:hover::before {
  background: #fff;
  opacity: 0.2;
}

.game__selection-oval {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.938rem;
  height: 6.938rem;
  border-radius: 100%;
  background: #babfd4;
  position: relative;
  z-index: 1;
}

.game__selection-oval::after {
  content: "";
  width: 6.938rem;
  height: 6.563rem;
  border-radius: inherit;
  background: linear-gradient(0deg, #f3f3f3 0%, #dadada 98.34%);
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.dark-mode .game__selection {
  background: #b99b95;
}

.dark-mode .game__selection::after {
  background: #FFD6CF;
}

.game__scissors {
  background: #6e3c10;
}

.game__scissors::after {
  background: #c76c1b;
}

.game__spock {
  background: #184958;
}

.game__spock::after {
  background: #2d8dab;
}

.game__paper {
  background: #152361;
}

.game__paper::after {
  background: #2a45c2;
}

.game__lizard {
  background: #321d5a;
}

.game__lizard::after {
  background: #5f37a8;
}

.game__rock {
  background: #490a18;
}

.game__rock::after {
  background: #9d1634;
}

.game__selection-oval>img {
  z-index: 58;
}

/*Game start */
.game__start {
  max-width: 45.125rem;
  padding: 0 2rem;
  height: 24.688rem;
  margin: 4.5rem auto 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game__start-content {
  width: 18.438rem;
  height: 24.688rem;
  text-align: center;
  display: grid;
  row-gap: 3.938rem;
}

.game__start-title {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  line-height: 1.33;
  letter-spacing: 0.188rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.188rem 0.188rem rgba(0, 0, 0, 0.2);
}

.game__selection-start {
  cursor: default;
  animation: animationTo 0.4s forwards;
}

.game__selection-start:hover::before {
  display: none;
}

@keyframes animationTo {
  0% {
    transform: translateY(-18.75rem);
  }

  100% {
    transform: translateY(0);
  }
}

.game__big {
  width: 18.313rem;
  height: 18.75rem;
  border-radius: 100%;
  margin: 0;
}

.game__big::after {
  width: inherit;
  height: 18rem;
  border-radius: 100%;
}

.game__big-oval {
  width: 14.063rem;
  height: 14.063rem;
  border-radius: 100%;
}

.game__big-oval::after {
  width: inherit;
  height: 13.313rem;
  border-radius: 100%;
}

.game__start-img {
  width: 6.25rem;
}

.game__empty {
  justify-self: center;
  width: 14.063rem;
  height: 14.063rem;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.1);
}

/* Game win*/
.game__win {
  max-width: 62.625rem;
  padding: 0 2rem;
  margin: 4.5rem auto 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game__message-box {
  z-index: 1;
}

.game__message {
  font-size: 3.5rem;
  line-height: 4.188rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  text-align: center;
}

.btn-again:link,
.btn-again:visited {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.19;
  letter-spacing: 0.156rem;
  padding: 0.938rem 3.875rem;
  border-radius: 0.5rem;
  background-color: #fff;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}

.btn-again:hover,
.btn-again:active {
  color: #db2e4d;
}

.game__win-selection {
  cursor: default;

  animation: animationTo 0.4s forwards;
}

.game__win-selection:hover::before {
  display: none;
}

.game__win-img {
  width: 6.25rem;
}

.game__win-circle {
  position: relative;
}

.circle-properties {
  border-radius: 100%;
  background: #fff;
  opacity: 0.05;
  position: absolute;
}

.circle-properties.dark-mode {
  background: red;
  opacity: 0.2;
}

.game__circleOne {
  width: 26.5rem;
  height: 26rem;
  z-index: -1;
  animation: animationCircleOne 2s;
  animation-iteration-count: 3;
}

.game__circleTwo {
  width: 35.25rem;
  height: 34.625rem;
  z-index: -2;
  animation: animationCircleTwo 2s;
  animation-iteration-count: 3;
}

.game__circleThree {
  width: 45.625rem;
  height: 44.875rem;
  z-index: -3;
  animation: animationCircleThree 2s;
  animation-iteration-count: 3;
}

@keyframes animationCircleOne {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 26.5rem;
    height: 26rem;
  }
}

@keyframes animationCircleTwo {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 35.25rem;
    height: 34.625rem;
  }
}

@keyframes animationCircleThree {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 45.625rem;
    height: 44.875rem;
  }
}

/* Rules button */
.btn-rules--box {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.btn-modal:link,
.btn-modal:visited {
  font-size: 1rem;
  line-height: 1.19;
  letter-spacing: 0.156rem;
  text-transform: uppercase;
  color: #ffffff;
  border: 0.063rem solid #fff;
  border-radius: 0.5rem;
  padding: 0.688rem 2.25rem;
  transition: 0.4s ease-in-out;
  z-index: 1;
}

.btn-modal:hover,
.btn-modal:active {
  background: #ffffff;
  color: #3b4262;
}

.game__modal {
  width: 25rem;
  height: 28.813rem;
  border-radius: 0.5rem;
  background: #fff;
  padding: 2rem 2rem 2.938rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: grid;
  row-gap: 1.25rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  display: none;
}

.game__modal-title {
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  color: #3b4262;
}

.btn-close {
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 100;
  display: none;
}

.btn-close {
  justify-self: end;
}

.game__modal-img {
  grid-column: 1 / -1;
  width: 100%;
}

.game__modal.open {
  display: grid;
}

.overlay.open {
  display: inline-block;
}

/*Footer*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  margin-top: auto;
  padding: .5rem;
  background-color: #000;
}

footer a{
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  gap: 0 .5rem;
}

footer a svg{
  width: 20px;
  fill: white;
}

body.dark-mode footer{
  background-color: #FFD6CF;
}

body.dark-mode footer a{
  color: #170700;
}

body.dark-mode footer a svg{
  fill: black;
}

footer a:hover{
  text-decoration: underline;
}

/*Interactive sizing*/
@media (max-width: 57.5em) {
  body {
    overflow-y: visible;
  }

  .game__win {
    margin-top: 6.188rem;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    row-gap: 62px;
    justify-items: center;
    padding-left: 29px;
    padding-right: 21px;
  }

  .game__message-box {
    grid-area: 2 / 1;
    grid-column: 1 / -1;
    text-align: center;
  }

  .circle-properties {
    border-radius: 100%;
    background: #fff;
    opacity: 0.05;
    position: absolute;
  }

  .game__circleOne {
    width: 167px;
    height: 164px;
    z-index: -1;
    animation: animationCircleOne 2000ms;
    animation-iteration-count: 3;
  }

  .game__circleTwo {
    width: 223px;
    height: 219px;
    z-index: -2;
    animation: animationCircleTwo 2000ms;
    animation-iteration-count: 3;
  }

  .game__circleThree {
    width: 288px;
    height: 284px;
    z-index: -3;
    animation: animationCircleThree 2000ms;
    animation-iteration-count: 3;
  }

  @keyframes animationCircleOne {
    from {
      width: 0;
      height: 0;
    }

    to {
      width: 167px;
      height: 164px;
    }
  }

  @keyframes animationCircleTwo {
    from {
      width: 0;
      height: 0;
    }

    to {
      width: 223px;
      height: 219px;
    }
  }

  @keyframes animationCircleThree {
    from {
      width: 0;
      height: 0;
    }

    to {
      width: 288px;
      height: 284px;
    }
  }
}

@media (max-width: 40em) {
  .game__initial-box {
    background: url(rockpaperscissors\images\bg-pentagon.svg) no-repeat top 50px center;
    background-size: 14.188rem 14.188rem;
    max-width: 19.438rem;
    height: 19.063rem;
    display: grid;
    margin-bottom: 139px;
  }

  .game__selection-box:nth-child(1) {
    grid-area: 1 / -1;
    justify-self: center;
  }

  .game__selection-box:nth-child(2) {
    grid-area: 1 / -1;
    justify-self: start;
    align-self: center;
    transform: translateY(-1.188rem);
  }

  .game__selection-box:nth-child(3) {
    grid-area: 1 / -1;
    justify-self: end;
    align-self: center;
    transform: translateY(-1.188rem);
  }

  .game__selection-box:nth-child(4) {
    grid-area: 1 / -1;
    justify-self: start;
    align-self: end;
    transform: translateX(2.063rem);
  }

  .game__selection-box:nth-child(5) {
    grid-area: 1 / -1;
    justify-self: end;
    align-self: end;
    transform: translateX(-2.063rem);
  }

  .game__selection {
    width: 6rem;
    height: 6.063rem;
  }

  .game__selection::after {
    content: "";
    width: inherit;
    height: 5.813rem;
  }

  .game__selection-oval {
    width: 4.625rem;
    height: 4.563rem;
  }

  .game__selection-oval::after {
    content: "";
    width: inherit;
    height: 4.313rem;
  }

  .game__initial-img {
    width: 1.875rem;
  }

  .game__lizard-img {
    width: 2.5rem;
  }

  .btn-rules--box {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 56px;
  }

  .game__start {
    padding: 0 1.313rem 0 1.813rem;
    height: 182px;
    margin-top: 6.188rem;
    /* gap: 50px; */
    margin-bottom: 245px;
  }

  .game__start-content {
    width: 145px;
    height: 182px;
    display: grid;
    row-gap: 1.063rem;
    justify-self: start;
  }

  .game__start-content:last-child {
    justify-self: end;
  }

  .game__selection-start {
    margin-right: 0;
  }

  .game__start-title {
    font-size: 0.938rem;
    line-height: 2.13;
    letter-spacing: 0.117rem;
    grid-row: 2;
    align-self: end;
  }

  .game__big {
    width: 130px;
    height: 133px;
    border-radius: 100%;
  }

  .game__big::after {
    content: "";
    width: 130px;
    height: 127px;
    border-radius: 100%;
  }

  .game__big-oval {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  .game__big-oval::after {
    width: 100px;
    height: 94px;
    border-radius: 100%;
  }

  .game__start-img {
    width: 40px;
  }

  .game__empty {
    justify-self: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

  .game__win {
    margin-bottom: 52px;
  }

  .game__win-img {
    width: 2.5rem;
  }
}

@media (max-width: 34.375em) {
  body {
    overflow-y: visible !important;
  }

  .game__header-box {
    max-width: 46.25rem;
    padding: 0 2rem;
    margin: 0 auto;
  }

  .game__header-img {
    width: 49px;
  }

  .game__header {
    margin-top: 2rem;
    margin-bottom: 5.938rem;
    padding: 0.75rem 0.75rem 0.75rem 1.5rem;
  }

  .game__score-box {
    padding: 0.625rem 1.5rem;
  }

  .game__score {
    font-size: 1rem;
    line-height: 1.19;
    letter-spacing: 0.098rem;
  }

  .game__number {
    font-size: 2.5rem;
    line-height: 1;
  }
}

@media (max-width: 25em) {
  .game__modal {
    width: 100%;
    height: 46.875rem;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 95px 31px 66px 33px;
    gap: 0;
    align-content: start;
  }

  .game__modal-title {
    align-self: start;
    margin-bottom: 6rem;
  }

  .game__modal-img {
    margin-bottom: 8.563rem;
  }

  .btn-close {
    grid-row: 3;
    justify-self: center;
  }
}